<div class="row">
	<div class="col-md-7">
		Instructions to reset password here
	</div>

	<div class="col-md-5">
		<form novalidate name="forgotPasswordForm" class="form-horizontal">
			<fieldset>
				<legend data-translate="OtpApp.forgotPassword"></legend>

				<div data-ng-class="{'has-error' : (forgotPasswordForm.$submitted || forgotPasswordForm.username.$touched) && (forgotPasswordForm.username.$error.required || forgotPasswordForm.username.$error.pattern)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-user"></i>
					</label>
					<div class="col-md-10">
						<input type="text" name="username" data-ng-model="registrationModel.username" required pattern="[a-zA-Z0-9_]{6,}" class="form-control" placeholder="{{'OtpApp.username' | translate}}">
						<span class="help-block" data-translate="OtpApp.Help.username"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">						
						<button  class="btn btn-primary" type="submit" data-translate="OtpApp.resetPassword">
							
						</button>	
							
						
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>