<div class="row">
	<div class="col-md-7">
		Brag about this site
	</div>

	<div class="col-md-5">
		<form class="form-horizontal">
			<fieldset>
				<legend data-translate="OtpApp.createAccount"></legend>

				<div class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-envelope-o"></i>
					</label>
					<div class="col-md-10">
						<input class="form-control" placeholder="{{'OtpApp.email' | translate}}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-user"></i>
					</label>
					<div class="col-md-10">
						<input class="form-control" placeholder="{{'OtpApp.username' | translate}}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-lock"></i>
					</label>
					<div class="col-md-10">
						<input type="password" class="form-control" placeholder="{{'OtpApp.password' | translate}}">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-lock"></i>
					</label>
					<div class="col-md-10">
						<input type="password" class="form-control" placeholder="{{'OtpApp.repeatPassword' | translate}}">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						
						<button class="btn btn-default" type="reset" data-translate="OtpApp.clear">
						</button>
							
						<button class="btn btn-primary" type="submit" data-translate="OtpApp.createAccount">
							
						</button>	
							
						
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>