  	<div class="row">
  		<div class="col-md-3">
  			 <a class="btn btn-primary btn-lg" data-ui-sref="dashboard.newproject" role="button">
  			 	<i class="fa fa-plus"></i> New Project
  			 </a>
  			 <hr/>	
  		</div>
  	</div>
  	 	
  	<div class="row">
  		<div data-ng-repeat="project in projects" class="col-md-4">
  			<div class="panel panel-primary">
  				<div class="panel-heading" data-ng-bind="project.name">
  				</div>
  				<div class="panel-body">
  					<p>
  						<strong>API key : </strong> {{project.apiKey}}
  					</p>
  					<a class="btn btn-primary" data-ui-sref="dashboard.project({id : project._id})">
  						Details
  					</a>
  				</div>
  			</div>
  		</div>
  	</div>