<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                {{project.name}}
                <button data-ng-click="deleteProject()" type="button" class="pull-right btn btn-danger">
                    <i class="fa fa-lg fa-trash"></i>
                </button>
            </div>
            <div class="panel-body">
                Api Key : {{project.apiKey}}
                <hr/>
                <h4 data-ng-if="apiTestModel.otpGenerated && apiTestModel.otpVerified">
                    It Works!!!
                </h4>
                <form data-ng-if="!apiTestModel.otpGenerated" novalidate name="otpGenerateForm" data-ng-submit="otpGenerateForm.$valid && generateOtp()" class="form-horizontal" >
                    <fieldset>
                        <legend data-translate="OtpApp.testApi"></legend>

                        <div class="form-group" data-ng-class="{'has-error' : (otpGenerateForm.$submitted || otpGenerateForm.mobileNumber.$touched) && (otpGenerateForm.mobileNumber.$error.required || otpGenerateForm.mobileNumber.$error.pattern)}">
                            <label class="col-md-1 col-md-offset-2 control-label"><i class="fa fa-lock fa-lg"></i></label>
                            <div class="col-md-8">
                                <input data-ng-model="apiTestModel.mobileNumber" name="mobileNumber" type="text" required pattern="[0-9]{10}" placeholder="{{'OtpApp.mobileNumber' | translate}}" class="form-control">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-3">
                            <button type="submit" class="btn btn-primary" data-translate="OtpApp.testApi"></button>
                        </div>
                    </div>
                </form>

                <form data-ng-if="apiTestModel.otpGenerated && !apiTestModel.otpVerified" novalidate name="otpVerifyForm" data-ng-submit="otpVerifyForm.$valid && verifyOtp()" class="form-horizontal" >
                    <fieldset>
                        <legend data-translate="OtpApp.testApi"></legend>

                        <div class="form-group" data-ng-class="{'has-error' : (otpVerifyForm.$submitted || otpVerifyForm.otp.$touched) && (otpVerifyForm.otp.$error.required)}">
                            <label class="col-md-1 col-md-offset-2 control-label"><i class="fa fa-phone-square fa-lg"></i></label>
                            <div class="col-md-8">
                                <input data-ng-model="apiTestModel.otp" name="otp" type="password" required placeholder="{{'OtpApp.otp' | translate}}" class="form-control">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-3">
                            <button type="submit" class="btn btn-primary" data-translate="OtpApp.verifyOtp"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>

</div>
