<div class="row">
	<div class="col-md-7">
		Password Reset Intructions
	</div>

	<div class="col-md-5">
		<uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.message}}</uib-alert>
		<form novalidate name="passwordResetForm" data-ng-submit="passwordResetForm.$valid && resetPassword()" class="form-horizontal">
			<fieldset>
				<legend data-translate="OtpApp.resetPassword"></legend>
			
				<div data-ng-class="{'has-error' : (passwordResetForm.$submitted || passwordResetForm.password.$touched) && (passwordResetForm.password.$error.required)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-lock"></i>
					</label>
					<div class="col-md-10">
						<input type="password" name="password" data-ng-model="resetPasswordModel.password" required class="form-control" placeholder="{{'OtpApp.password' | translate}}">
						<span class="help-block" data-translate="OtpApp.Help.password"></span>
					</div>
				</div>
				<div data-ng-class="{'has-error' : (passwordResetForm.$submitted || passwordResetForm.repeatPassword.$touched) && (passwordResetForm.repeatPassword.$error.required)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-lock"></i>
					</label>
					<div class="col-md-10">
						<input type="password" name="repeatPassword" data-ng-model="resetPasswordModel.repeatPassword" required class="form-control" placeholder="{{'OtpApp.repeatPassword' | translate}}">
						<span class="help-block" data-translate="OtpApp.Help.repeatPassword"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">						
						<button class="btn btn-primary" type="submit" data-translate="OtpApp.resetPassword">
							
						</button>	
							
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>