<div class="row">
	<div class="col-md-7">
		Password Reset Intructions
	</div>

	<div class="col-md-5">
		<form novalidate name="passwordResetForm" class="form-horizontal">
			<fieldset>
				<legend data-translate="OtpApp.resetPassword"></legend>
			
				<div data-ng-class="{'has-error' : (passwordResetForm.$submitted || passwordResetForm.password.$touched) && (passwordResetForm.password.$error.required || passwordResetForm.password.$error.pattern)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-lock"></i>
					</label>
					<div class="col-md-10">
						<input type="password" name="password" data-ng-model="registrationModel.password" required pattern="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).*$" class="form-control" placeholder="{{'OtpApp.password' | translate}}">
						<span class="help-block" data-translate="OtpApp.Help.password"></span>
					</div>
				</div>
				<div data-ng-class="{'has-error' : (passwordResetForm.$submitted || passwordResetForm.repeatPassword.$touched) && (passwordResetForm.repeatPassword.$error.required)}" class="form-group">
					<label class="control-label col-md-2">
						<i class="fa fa-lg fa-lock"></i>
					</label>
					<div class="col-md-10">
						<input type="password" name="repeatPassword" data-ng-model="registrationModel.repeatPassword" required class="form-control" placeholder="{{'OtpApp.repeatPassword' | translate}}">
						<span class="help-block" data-translate="OtpApp.Help.repeatPassword"></span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">						
						<button class="btn btn-primary" type="submit" data-translate="OtpApp.resetPassword">
							
						</button>	
							
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>