extends layout
block header
    link(rel="stylesheet" href="/public/otp-app/stylesheets/style.css")
    script(type="text/javascript" src="/public/otp-app/javascripts/app.js")
    script(type="text/javascript" src="/public/otp-app/javascripts/states.js")
    script(type="text/javascript" src="/public/otp-app/javascripts/controllers.js")
    script(type="text/javascript" src="/public/otp-app/javascripts/services.js")
    script(type="text/javascript" src="/public/otp-app/javascripts/factories.js")
    script(type="text/javascript" src="/public/otp-app/javascripts/directives.js")
    script(type="text/javascript" src="/public/otp-app/javascripts/interceptors.js")

block content
    div(data-ng-app="otpApp")
        nav(class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-controller="NavbarController")
            div(class="container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(data-ng-if="!authenticatedUser" class="navbar-brand" data-ui-sref="home" data-translate="OtpApp.appName")
                    a(data-ng-if="authenticatedUser" class="navbar-brand" data-ui-sref="projects" data-translate="OtpApp.appName")
                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                    ul(class="nav navbar-nav")
                        li
                            a(data-ui-sref="about" data-translate="OtpApp.about")
                        li
                            a(data-ui-sref="contact" data-translate="OtpApp.contact")
                    ul( data-ng-if="authenticatedUser" class="nav navbar-nav navbar-right")
                        li(class="dropdown")
                            a(href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-ng-bind="authenticatedUser")  <span class="caret"></span>
                            ul(class="dropdown-menu")
                                li
                                    a(href="#" data-ng-click="logout()" data-translate="OtpApp.logout")
                                li
                                    a(data-ui-sref="change password" data-translate="OtpApp.changePassword")
                    form(data-ng-if="!authenticatedUser" class="navbar-form navbar-right" novalidate="true" name="loginForm")
                        div(class="input-group" data-ng-class="{'has-error' : (loginForm.$submitted || loginForm.username.$touched) && (loginForm.username.$error.required || loginModel.wrongCredentials)}")
                            span(class="input-group-addon")
                                i(class="fa fa-user")
                            input( required="true" type="text" class="form-control" name="username" data-ng-model="loginModel.username" placeholder="{{'OtpApp.username' | translate}}")
                        div(class="input-group" data-ng-class="{'has-error' : (loginForm.$submitted || loginForm.password.$touched) && (loginForm.password.$error.required || loginModel.wrongCredentials)}")
                            span(class="input-group-addon")
                                i(class="fa fa-lock")
                            input(required="true" type="password" class="form-control" name="password" data-ng-model="loginModel.password" placeholder="{{'OtpApp.password' | translate}}")
                            span(class="input-group-addon")
                                a(data-ui-sref="forgot password" data-translate="OtpApp.forgotPassword")


                        div(class="input-group")
                            button(type="submit" data-ng-click="loginForm.$valid && login()" class="btn btn-primary" data-translate="OtpApp.login")

        div(class="container" data-ui-view="")

        footer(class="footer")
            div(class="container")
                p(class="text-muted" data-translate="OtpApp.footer")
