doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/public/otp-app/stylesheets/bootstrap-paper.min.css")
        link(rel="stylesheet" href="/public/otp-app/stylesheets/style.css")
        link(rel="stylesheet", href="/bower_components/font-awesome/css/font-awesome.css")
        script(type="text/javascript", src="/bower_components/jquery/dist/jquery.js")
        script(type="text/javascript", src="/bower_components/bootstrap/dist/js/bootstrap.js")
    body
        nav(class="navbar navbar-default navbar-fixed-top" role="navigation" data-ng-controller="NavbarController")
            div(class="container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href="/") OTP Server
        div(class="container")
            if(hasErrors)
                div(class="alert alert-dismissible alert-danger")
                    button(type="button" class="close" data-dismiss="alert") &#215;
                    p() Failed to reset password please retry.

            form(class="form-horizontal" method="post" action="#{basePath}/resetpassword")
                fieldset
                    legend Reset Password
                    input(type="hidden" name="username" value="#{username}")
                    input(type="hidden" name="key" value="#{key}")
                    div(class="form-group")
                        label(class="control-label col-md-4") New Password
                        div(class="col-md-8")
                            input(class="form-control" type="password" name="password")
                    div(class="form-group")
                        label(class="control-label col-md-4") Repeat Password
                        div(class="col-md-8")
                            input(class="form-control" type="password" name="repeatPassword")
                    div(class="form-group")
                        div(class="col-md-8 col-md-offset-4")
                            button(type="reset" class="btn btn-primary") Cancel
                            button(type="submit" class="btn btn-success") Change Password
        footer(class="footer")
            div(class="container")
                p(class="text-muted") Footer
